<label for="1star">rating</label>
<input type="checkbox" name="1star" id="1star">
<label for="2star">2star</label>
<input type="checkbox" name="2star" id="2star">
<label for="3star">3star</label>
<input type="checkbox" name="3star" id="3star">
<label for="4star">4star</label>
<input type="checkbox" name="4star" id="4star">
<label for="5star">5star</label>
<input type="checkbox" name="5star" id="5star">





