<!-- 
<br>
<label for="1star">1star</label><br>
<input type="radio" name="1star" id="1star">
<label for="2star">2star</label><br>
<input type="radio" name="2star" id="2star">
<label for="3star">3star</label><br>
<input type="radio" name="3star" id="3star">
<label for="4star">4star</label><br>
<input type="radio" name="4star" id="4star">
<label for="5star">5star</label><br>
<input type="radio" name="5star" id="5star">
<br> -->
<label for="rating">Rating:</label>
<input type="text" name="rating" id="rating">





