<%- include('../partials/header.ejs') %>

<%- include('../partials/_navbar.ejs') %>



  <h1>Create a new Haunted place here!</h1>
  <form action="/ghosts" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <label for="description">Please explain your experience.</label>
    <textarea name="description" id="description" placeholder="Description Here"></textarea>
    <label for="location">Please add the location</label>
    <input type="text" name="location" id="location">
    <button type="submit">Add Ghost</button>

  </form>
  <%- include('../partials/footer.ejs') %>
