<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Ghosts</title>
</head>
<body>
  <h1>Show me the Ghosts!</h1>
  //display the chosen Ghost/haunted area
  //be able to choose to edit a haunted area if it was added by the user
  // delete the haunted area if you are the user

</body>
</html>